.main-container {
   background-color: #203F2A;
  background-image: url('../assets/FWL_Background.jpg'); /* Add your background image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  overflow: hidden;

}

html,
body {
  overflow: hidden;
  overflow-x: hidden;

}


.image-button {
  width: 33%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth zoom-in effect */
  position: relative; /* Ensure the gradient overlay is positioned correctly */
  margin-inline: 1.2em;
}

.image-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%, /* Slightly transparent black at the top */
    rgba(0, 0, 0, 0.7) 100% /* Darker black at the bottom */
  );
  z-index: 1; /* Ensure the gradient is above the image */
  pointer-events: none; /* Allow clicks to pass through the gradient */
}


.image-button:hover {
  transform: scale(1.05); /* Zoom in slightly on hover */

}

@media (max-width: 768px) {
  .image-button {
    width: 100%; /* Full width on mobile */
    height: 50vh; /* Adjust height for mobile */
    margin-inline: 0; /* Remove horizontal margins */
    margin-top: 1.5em; /* Add some top margin for spacing */
  }
}
.image-button-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #F8F6F2;
  font-size: xx-large;
  font-family: 'antonio'; 
  z-index: 2; /* Ensure the title is above the gradient */

}

@media (min-width: 500px) and (max-width: 900px) {
  .image-button {
    margin-inline: 1em; /* Remove horizontal margins */
    justify-content: center;
    display: flex;
    padding: 1em;
    align-items: flex-end;
  }

  .image-button-title {
    position: relative;
    left: unset;
    bottom: unset;
  }
}

@media (min-width: 900px) {

  .image-button-title {
    font-size: 3em;
  }
}

.masonry-container {
  padding-top: 2vh;
  padding-inline: 2vh;
  /* background-color: #203F2A; */
  transition: opacity 0.8s ease, transform 0.8s ease; /* Smooth fade-in and slide-up */
  transform: translateY(20px); /* Start slightly below */
  opacity: 0; /* Start fully transparent */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; /* Smooth scrolling */
  height: 90vh;

}

.masonry-container > div{
  /* margin: 5px; */
  scroll-snap-align: center;
  scroll-snap-stop: always;
  aspect-ratio: 4/1;
}

.navbar {
  background-color: #5A3E2B;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-inline: 15px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
}

.nav-title {
  font-size: 48px;
  color: #F8F6F2;
  justify-self: center;
  font-family: 'league-spartan', sans-serif; /* Ensure League Spartan is applied */
}

.nav-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 10px;
  color: #F8F6F2;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navp {
  color: #F8F6F2;
  margin-right: 15px;
  font-size: 32px;
  width: min-content;
  font-family: 'league-spartan', sans-serif; /* Ensure League Spartan is applied */
}

.grid-container {
  padding: 10px;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.card {
  position: relative;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  width: -webkit-fill-available;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%, /* Fully transparent at the top */
    rgba(0, 0, 0, 0.6) 100% /* Darker at the bottom */
  );
}

.cardp {
  position: relative;
  color: #F8F6F2;
  font-size: 48px;
  padding: 10px;
  z-index: 1;
  font-family: Lora;
}

.dropdown-button {
  display: flex;
  background-color: transparent;
  border: none;
  color: #F8F6F2;
  font-size: 50px;
  cursor: pointer;
  margin-left: 10px;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
  max-height: 50px;
  /* width: 100vw; */
}

.filter-select {
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;

}

.clear-button {
  background-color: #5A3E2B;
  color: #F8F6F2;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* font-size: 16px; */
}

.masonry-container.fade-in {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

.masonry-container.fade-out {
  opacity: 0; /* Fully transparent */
  transform: translateY(20px); /* Slightly below */
}

.footer-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.page-title {
  font-size: 48px;
  color: #F8F6F2;
  font-family: 'antonio'; 
  margin-bottom: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; /* Full height */
  z-index: 5;
  color: white;
  position: relative;
  font-family: 'League Spartan', sans-serif; /* Ensure League Spartan is applied */
}