
.feature {
    width: 100%;
    height: 40vh;
    background-color: rgba(250, 250, 250, 0.184);
    justify-self: center;
    margin: 2em;
    position: relative;
    padding: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.feature-title {
    font-size: 2.5em;
    color: white;
    font-family: Lora;
    text-align: center;
}

.feature-intro {
    font-size: medium;
    color: white;
    font-family: Lora;
    text-align: center;
    margin-top: 1em;
}

.border-image {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.square1 {
    border: 1px solid white;
    width: calc(100% - 20px);
    height: calc(100% - 40px);

    top: 20px;
    left: 10px;

    position: absolute;
    justify-self: center;
}

.square2 {
    border: 1px solid white;
    width: calc(100% - 40px);
    height: calc(100% - 20px);

    left: 20px;
    top: 10px;

    position: absolute;
    justify-self: center;

}

@media (max-width: 380px) and (max-height: 800px) {
    .feature {
        height: 45vh; /* Adjust height for smaller screens */
    }

    .square1 {
        height: calc(45vh - 40px);
    }

    .square2 {
        height: calc(45vh - 20px);
    }
}