.feature-image {
    position: absolute;
    height: 50vh;
    z-index: 2;
    margin-left: 2em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.feature-container {
    position: relative;
    width: 100%;
    height: 70vh;
    /* margin-top: 5em; */
    /* margin-bottom: 5em; */
    display: flex;
    align-items: center;
}

.article-features {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 8vh;
    padding-inline: 2em;
}

/* Media query for mobile screens */
@media (max-width: 767px) {
    .feature-image {
        /* height: 13vh; 
        width: 100%; 
        top: 0; 
        object-fit: cover;
        margin-left: unset;
        z-index: -1; */
        display: none;;
    }

    .article-features {
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
        height: 80vh;
    }
}

